<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Unica+One|Staatliches", rel="stylesheet")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body

        header.main-header
            nav.main-header-nav
                ul.nav-elements
                    li.nav-element
                        a(href="/" class="nav-link active" ) Home
                    li.nav-element
                        a(href="/" class="nav-link") Browse
                    li.nav-element
                        a(href="/" class="nav-link") Specials
                ul.nav-elements.corner
                    li.nav-element
                        a(href="/" class="nav-link") Sign in
                    li.nav-element
                        a(href="/" class="nav-link") Cart

        block contents